<div class="modal fade" id="ModalPopUp" role="dialog">
    <div class="modal-dialog" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align:center;">
                <label >Movie added successfully</label>
            </div>
            <div class="modal-footer">
                <input type="button" asp-action="Index" value="OK" />
            </div>
        </div>
    </div>
</div>